{% extends 'base.html' %}


{% block content %}
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Share with the World ! </h1>
    <hr>
    <p class="lead">Share the products that you love. "Sharing is Caring"</p>
  </div>
</div>

	{% for product in products.all %}
	<div class="row pt-3 pb-2">
		<div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
			<img src="{{ product.image.url }}" class="img-fluid">
		</div>
		<div class="col-6"  onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
			<h1>{{product.title}}</h1>
			<p>{{product.summary}}</p>
		</div>
		<div class="col-4">
			<a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}"> 
				<button class="btn btn-primary btn-lg btn-block" > 
				<span class="oi oi-heart"></span> Upvote {{product.votes_total }}
				</button>
			</a>
		</div>
	</div>

	<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
	 	{% csrf_token %}
	 	<input type="hidden" name="">
	 </form>

	{% endfor %}
{% endblock %}

